body {
    margin: 0;
    margin-top: 80px;
    padding: 0;
}

/*Header Styling*/
header img {
    height: 80px;
    margin-left: 2%;
}

header {
    background-color: #045266;
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

header * {
    display: inline;
}

header li {
    margin: 10px;
}

header li a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 1.2em;
}
/*Header Styling*/

/*Main Section Styling*/
.main {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 50vh;
    max-width: 1500px;
    flex: 1 1 auto;
}

.right {
    left: auto;
}

.main-container img {
    height: 150px;
    width: auto;
}


.main-container h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.main-container p {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    display: inline-block;
    padding: 0.6em 1.6em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    background-color: #1F2937;
}

.sign-up:hover {
    color: #000000;
    background-color: #FFFFFF;
}
/*Main Section Styling*/

/*Artworks Styling*/
.artworks-container img{
    height: 450px;
    width: auto;
    margin: 0 60px;
    border: 5px solid #045266;
    border-radius: 20px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 50px;
}

.artworks-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
    min-height: 80vh;
}

.artworks-container p {
    text-align: center;
}
/*Artworks Styling*/

/*Quote styling*/
#information {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    text-align: center;
    font-size: 40px;
    color: #1F2937;
    min-height: 60vh;
}

.quote-box {
    width: 60vw;
}
/*Quote styling*/

/*Sign-Up Styling*/
#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35vh;
    background-color: #FFFFFF;
    font-size: 18px;
}

.sign-up-container {
    display: flex;
    background-color: #3882F6;
    border: 1px solid black;
    width: 70vw;
    border-radius: 5px;
    padding: 50px 100px 50px 100px;
    color: #FFFFFF;
}

.sign-up-container p {
    margin: 0;
}

.sign-right {
    margin-left: auto;
    align-self: center;
}

.sign-heading {
    font-weight: bolder;
}

.sign-up-container button {
    display: inline-block;
    padding: 0.6em 1.6em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto' sans-serif;
    font-weight: 550;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    background-color: #3882F6;
}

.sign-up-container button:hover {
    color: #000000;
    background-color: #FFFFFF;
}
/*Sign-Up Styling*/

/*Footer Styling*/
.footer {
    display: flex;
    background-color: #045266;
    color: #E5E7EB;
    align-items: center;
    justify-content: center;
    height: 5vh;
    font-weight: bolder;
}